.c-blog {
  .c-title2 {
    margin-bottom: 3rem;
    
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;

    padding-bottom: 5rem;
  }
  &__action button{
    display: block;
    width: 100%;

    margin-bottom: 11.5rem;
  }
}