<%- include('inc/_header'); %>
    <!--▼ Content area ▼-->
    <main class="main">
        <section class="c-home">
            <div class="c-block-head">
                <div class="l-container">
                    <i class="fas fa-home"></i>
                    <span class="u-text-upper">home</span>
                </div>
            </div>
            <div class="l-container">
                <div class="c-home__inner">
                    <div class="c-home__content">
                        <h3 class="c-title1 c-title1--pink">
                            Category 1
                        </h3>
                        <div class="c-home__title">
                            Tiltle tiltle tiltle tiltle tiltle tiltle tiltle tiltle Tiltle Tiltle Tiltle Tiltle Tiltle
                            Tiltle
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="c-news">
            <div class="l-container">
                <h2 class="c-title2 c-title2--yellow">
                    News
                </h2>
                <div class="c-news__list">
                    <div class="c-news__item">
                        <a href="#" class="c-news__item-media">
                            <img src="assets/img/image1.jpg" alt="photo">
                            <h3 class="c-title1 u-green">
                                Category 2
                            </h3>
                        </a>
                        <div class="c-news__item-content">
                            <h3 class="c-news__item-content__title">
                                Title title title title title title title title title title
                            </h3>
                            <div class="c-news__item-content__desc">
                                text text text text text text text text text text text text text text text text text
                                text text text text text text text text text text text text text text text text text
                                text text text text text text text text text text text text text text text text text
                                text text text text text text text text text text text text text text text text text
                                text text text text text text text text text text text text text text text text text
                                text text text text text text text text.
                            </div>
                        </div>
                        <a href="#" class="c-news__item-link">
                            Link1
                        </a>
                    </div>
                    <div class="c-news__item">
                        <a href="#" class="c-news__item-media">
                            <img src="assets/img/image1.jpg" alt="photo">
                            <h3 class="c-title1 u-medium-yellow">
                                Category 2
                            </h3>
                        </a>
                        <div class="c-news__item-content">
                            <h3 class="c-news__item-content__title">
                                Title title title title title title title title title title
                            </h3>
                            <div class="c-news__item-content__desc">
                                text text text text text text text text text text text text text text text text text
                                text text text text text text text text text text text text text text text text text
                                text text text text text text text text text text text text text text text text text
                                text text text text text text text text text text text text text text text text text
                                text text text text text text text text text text text text text text text text text
                                text text text text text text text text.
                            </div>
                        </div>
                        <a href="#" class="c-news__item-link">
                            Link1
                        </a>
                    </div>
                    <div class="c-news__item">
                        <a href="#" class="c-news__item-media">
                            <img src="assets/img/image1.jpg" alt="photo">
                            <h3 class="c-title1 u-pink">
                                Category 2
                            </h3>
                        </a>
                        <div class="c-news__item-content">
                            <h3 class="c-news__item-content__title">
                                Title title title title title title title title title title
                            </h3>
                            <div class="c-news__item-content__desc">
                                text text text text text text text text text text text text text text text text text
                                text text text text text text text text text text text text text text text text text
                                text text text text text text text text text text text text text text text text text
                                text text text text text text text text text text text text text text text text text
                                text text text text text text text text text text text text text text text text text
                                text text text text text text text text.
                            </div>
                        </div>
                        <a href="#" class="c-news__item-link">
                            Link1
                        </a>
                    </div>
                    <div class="c-news__item">
                        <a href="#" class="c-news__item-media">
                            <img src="assets/img/image1.jpg" alt="photo">
                            <h3 class="c-title1 u-green">
                                Category 2
                            </h3>
                        </a>
                        <div class="c-news__item-content">
                            <h3 class="c-news__item-content__title">
                                Title title title title title title title title title title
                            </h3>
                            <div class="c-news__item-content__desc">
                                text text text text text text text text text text text text text text text text text
                                text text text text text text text text text text text text text text text text text
                                text text text text text text text text text text text text text text text text text
                                text text text text text text text text text text text text text text text text text
                                text text text text text text text text text text text text text text text text text
                                text text text text text text text text.
                            </div>
                        </div>
                        <a href="#" class="c-news__item-link">
                            Link1
                        </a>
                    </div>
                </div>
                <div class="c-news__action"><button class="c-btn1 u-dark-yellow">view more</button></div>
            </div>
        </section>
        <section class="c-feature">
            <div class="l-container">
                <h2 class="c-title2 c-title2--pink">
                    Feature
                </h2>
                <div class="c-feature__list">
                    <div class="c-box">
                        <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                        <h3 class="c-title1 u-green">text text</h3>
                        <p class="c-box__desc">
                            Title title title title title title title title title title title title title title title
                            title title title title title title title title title title title title title
                        </p>
                    </div>
                    <div class="c-box">
                        <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                        <h3 class="c-title1 u-green">text text</h3>
                        <p class="c-box__desc">
                            Title title title title title title title title title title title title title title title
                            title title title title title title title title title title title title title
                        </p>
                    </div>
                    <div class="c-box">
                        <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                        <h3 class="c-title1 u-pink">text text</h3>
                        <p class="c-box__desc">
                            Title title title title title title title title title title title title title title title
                            title title title title title title title title title title title title title
                        </p>
                    </div>
                    <div class="c-box">
                        <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                        <h3 class="c-title1 u-green">text text</h3>
                        <p class="c-box__desc">
                            Title title title title title title title title title title title title title title title
                            title title title title title title title title title title title title title
                        </p>
                    </div>
                    <div class="c-box">
                        <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                        <h3 class="c-title1 u-medium-yellow">text text</h3>
                        <p class="c-box__desc">
                            Title title title title title title title title title title title title title title title
                            title title title title title title title title title title title title title
                        </p>
                    </div>
                    <div class="c-box">
                        <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                        <h3 class="c-title1 u-green">text text</h3>
                        <p class="c-box__desc">
                            Title title title title title title title title title title title title title title title
                            title title title title title title title title title title title title title
                        </p>
                    </div>
                </div>
                <div class="c-feature__action">
                    <button class="c-btn1 u-orange">view more</button>
                </div>
            </div>
        </section>
        <section class="c-blog">
            <div class="l-container">
                <h3 class="c-title2 c-title2--blue">
                    Blog
                </h3>
                <div class="c-blog__list">
                    <div class="c-box">
                        <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                        <h3 class="c-title1 u-green">text text</h3>
                        <p class="c-box__desc">
                            Title title title title title title title title title title title title title title title
                            title title title title title title title title title title title title title
                        </p>
                    </div>
                    <div class="c-box">
                        <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                        <h3 class="c-title1 u-green">text text</h3>
                        <p class="c-box__desc">
                            Title title title title title title title title title title title title title title title
                            title title title title title title title title title title title title title
                        </p>
                    </div>
                    <div class="c-box">
                        <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                        <h3 class="c-title1 u-green">text text</h3>
                        <p class="c-box__desc">
                            Title title title title title title title title title title title title title title title
                            title title title title title title title title title title title title title
                        </p>
                    </div>
                    <div class="c-box">
                        <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                        <h3 class="c-title1 u-green">text text</h3>
                        <p class="c-box__desc">
                            Title title title title title title title title title title title title title title title
                            title title title title title title title title title title title title title
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--▲ Content are ▲-->
    <%- include('inc/_footer'); %>