<%- include('inc/_header'); %>
    <!--▼ Content area ▼-->
    <section class="c-link1">
        <div class="c-block-head">
            <div class="l-container">
                <i class="fas fa-home"></i>
                <a href="index.html" class="u-text-upper">home</a>
                <i class="fas fa-chevron-right"></i>
                <span>Link1</span>
            </div>

        </div>
        <section class="c-anchor">
            <div class="l-container">
                <div class="c-anchor__inner">
                    <a href="#" class="c-anchor__item u-blue">
                        <i class="fas fa-chevron-down"></i>
                        <span>Anchor link 1</span>
                    </a>
                    <a href="#" class="c-anchor__item u-blue">
                        <i class="fas fa-chevron-down"></i>
                        <span>Anchor link 1</span>
                    </a>
                    <a href="#" class="c-anchor__item u-blue">
                        <i class="fas fa-chevron-down"></i>
                        <span>Anchor link 1</span>
                    </a>
                </div>
            </div>
        </section>
        <section class="c-anchorlink1 l-container">
            <h2 class="c-link1__head">
                title anchor link 1
            </h2>
            <div class="c-anchorlink1__content">
                <div class="c-anchorlink1__title">
                    Dummy
                    <a href="#">dummy dummy dummy</a>
                    dummy
                    dummy
                </div>
                <div class="c-anchorlink1__list">
                    <div class="c-box">
                        <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                        <h3 class="c-title1 u-green">text text</h3>
                        <p class="c-box__desc">
                            Title title title title title title title title title title title title title title title
                            title title title title title title title title title title title title title
                        </p>
                    </div>
                    <div class="c-box">
                        <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                        <h3 class="c-title1 u-green">text text</h3>
                        <p class="c-box__desc">
                            Title title title title title title title title title title title title title title title
                            title title title title title title title title title title title title title
                        </p>
                    </div>
                    <div class="c-box">
                        <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                        <h3 class="c-title1 u-medium-yellow">text text</h3>
                        <p class="c-box__desc">
                            Title title title title title title title title title title title title title title title
                            title title title title title title title title title title title title title
                        </p>
                    </div>
                    <div class="c-box">
                        <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                        <h3 class="c-title1 u-pink">text text</h3>
                        <p class="c-box__desc">
                            Title title title title title title title title title title title title title title title
                            title title title title title title title title title title title title title
                        </p>
                    </div>
                    <div class="c-box">
                        <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                        <h3 class="c-title1 u-green">text text</h3>
                        <p class="c-box__desc">
                            Title title title title title title title title title title title title title title title
                            title title title title title title title title title title title title title
                        </p>
                    </div>
                    <div class="c-box">
                        <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                        <h3 class="c-title1 u-green">text text</h3>
                        <p class="c-box__desc">
                            Title title title title title title title title title title title title title title title
                            title title title title title title title title title title title title title
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="c-anchorlink2 l-container">
            <h2 class="c-link1__head">
                title anchor link 2
            </h2>
            <div class="c-anchorlink2__list">
                <div class="c-box">
                    <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                    <h3 class="c-title1 u-green">text text</h3>
                    <p class="c-box__desc">
                        Title title title title title title title title title title title title title title title
                        title title title title title title title title title title title title title
                    </p>
                </div>
                <div class="c-box">
                    <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                    <h3 class="c-title1 u-pink">text text</h3>
                    <p class="c-box__desc">
                        Title title title title title title title title title title title title title title title
                        title title title title title title title title title title title title title
                    </p>
                </div>
                <div class="c-box">
                    <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                    <h3 class="c-title1 u-green">text text</h3>
                    <p class="c-box__desc">
                        Title title title title title title title title title title title title title title title
                        title title title title title title title title title title title title title
                    </p>
                </div>
                <div class="c-box">
                    <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                    <h3 class="c-title1 u-medium-yellow">text text</h3>
                    <p class="c-box__desc">
                        Title title title title title title title title title title title title title title title
                        title title title title title title title title title title title title title
                    </p>
                </div>
                <div class="c-box">
                    <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                    <h3 class="c-title1 u-green">text text</h3>
                    <p class="c-box__desc">
                        Title title title title title title title title title title title title title title title
                        title title title title title title title title title title title title title
                    </p>
                </div>
                <div class="c-box">
                    <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                    <h3 class="c-title1 u-green">text text</h3>
                    <p class="c-box__desc">
                        Title title title title title title title title title title title title title title title
                        title title title title title title title title title title title title title
                    </p>
                </div>
                <div class="c-box">
                    <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                    <h3 class="c-title1 u-green">text text</h3>
                    <p class="c-box__desc">
                        Title title title title title title title title title title title title title title title
                        title title title title title title title title title title title title title
                    </p>
                </div>
                <div class="c-box">
                    <img src="/assets/img/image2.jpg" alt="photo" class="c-box__image">
                    <h3 class="c-title1 u-green">text text</h3>
                    <p class="c-box__desc">
                        Title title title title title title title title title title title title title title title
                        title title title title title title title title title title title title title
                    </p>
                </div>
            </div>
        </section>
        <section class="c-anchorlink3 l-container">
            <h2 class="c-link1__head">
                title anchor link 3
            </h2>
            <div class="c-anchorlink3__table">
                <h3 class="c-anchorlink3__caption">
                    Caption table 1
                </h3>
                <div class="c-anchorlink3__title">
                    Dummy dummy <a href="#" class="u-text-red">dummy dummy dummy</a> dummy dummy dummy dummy dummy dummy dummy dummy dummy
                    dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy
                </div>
                <table class="c-table1">
                    <tr>
                        <th></th>
                        <th>title</th>
                        <th>title</th>
                        <th>title</th>
                    </tr>
                    <tr>
                        <td>title1</td>
                        <td>Griffin</td>
                        <td>Griffin</td>
                        <td>Griffin</td>
                    </tr>
                    <tr>
                        <td>title1</td>
                        <td>Griffin</td>
                        <td>Griffin</td>
                        <td>Griffin</td>
                    </tr>
                    <tr>
                        <td>title1</td>
                        <td>Griffin</td>
                        <td>Griffin</td>
                        <td>Griffin</td>
                    </tr>
                </table>
            </div>
            <div class="c-anchorlink3__table">
                <h3 class="c-anchorlink3__caption">
                    Caption table 2
                </h3>
                <div class="c-anchorlink3__title">
                    Dummy dummy <a href="#" class="u-text-orange">dummy dummy dummy</a> dummy dummy dummy dummy dummy dummy dummy dummy dummy
                    dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy
                </div>
                <table class="c-table2">
                    <tr>
                        <td>title1</td>
                        <td>Griffin</td>
                        <td>Griffin</td>
                        <td>Griffin</td>
                    </tr>
                    <tr>
                        <td>title1</td>
                        <td>Griffin</td>
                        <td>Griffin</td>
                        <td>Griffin</td>
                    </tr>
                    <tr>
                        <td>title1</td>
                        <td>Griffin</td>
                        <td>Griffin</td>
                        <td>Griffin</td>
                    </tr>
                </table>
            </div>
        </section>
        <div class="c-block-head c-block-head--bottom">
            <div class="l-container">
                <i class="fas fa-home"></i>
                <a href="index.html" class="u-text-upper">home</a>
                <i class="fas fa-chevron-right"></i>
                <span>Link1</span>
            </div>
        </div>
    </section>
    <!--▲ Content are ▲-->
    <%- include('inc/_footer'); %>