//baseWidth
$baseWidth: 1000px;

$mainFonts : "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

//color common
$pink-dark-color: #ffdfdf;
$pink-light-color: #fff2f2;
$green-color: #a3d39c;
$yellow-light-color: #fff9da;
$yellow-medium-color: #fff799;
$yellow-dark-color: #ffd800;
$orange-color: #f68e56;
$blue-color: #6dcff6;
$gray-light-color: #ebebeb;
$gray-dark-color: #afafaf;

