<!--▼ Footer ▼-->
<footer class="c-footer">
	<div class="c-block-head">
		<div class="l-container">
			<i class="fas fa-home"></i>
			<span class="u-text-upper">home</span>
		</div>
	</div>
	<div class="c-footer__content">
		<div class="l-container">
			<div class="c-footer__item">
				<h3>
					Box link 1
				</h3>
				<ul>
					<li><a href="#">link</a></li>
					<li><a href="#">link link link</a></li>
					<li><a href="#">link link link link link</a></li>
					<li><a href="#">link link link</a></li>
					<li><a href="#">link link link link</a></li>
				</ul>
			</div>
			<div class="c-footer__item">
				<h3>
					Box link 1
				</h3>
				<ul>
					<li><a href="#"></a>link</li>
					<li><a href="#"></a>link link link</li>
					<li><a href="#">link link link link link</a></li>
					<li><a href="#"></a>link link link</li>
					<li><a href="#"></a>link link link link</li>
				</ul>
			</div>
			<div class="c-footer__item">
				<h3>
					Box link 1
				</h3>
				<ul>
					<li><a href="#"></a>link</li>
					<li><a href="#"></a>link link link</li>
					<li><a href="#">link link link link link</a></li>
					<li><a href="#"></a>link link link</li>
					<li><a href="#"></a>link link link link</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="c-footer__content l-container">

	</div>
	<div class="c-footer__bottom">© Copyright Allgrow Labo 2018</div>

</footer>
<!--▲ Footer ▲-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
</body>

</html>